<div class="about-section">
  <h1>About Us</h1>
 <p>Airline Reservation System is a computerized system used to store and 
  retrieve information and conduct transactions related to air travel. The project is 
  aimed at exposing the relevance and importance of Airline Reservation Systems. 
  It is projected towards enhancing the relationship between customers and airline 
  agencies through the use of ARSs, and thereby making it convenient for the 
  customers to book the flights as when they require such that they can utilize this 
  software to make reservations.
  </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://lh3.googleusercontent.com/a-/AOh14GiBOfTJVfo2IsZXPGIjUggF5LTizLhPnnNRjYjKwfE=s300-p-k-rw-no" alt="SuryaPrakash" 
      class="rounded-circle"
      height="50" width="50"
      alt=""
      loading="lazy">
      <div class="container">
        <h2>Vangala SuryaPrakash Reddy</h2>
        <p class="title">FrontEndDesign</p>
        <p></p>
        <p>
          vongalasurya@gmail.com</p>
        <p><button class="button" routerLink="/contactus"
          routerLinkActive="active">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://lh3.googleusercontent.com/a-/AOh14GgxNElfkMCgQuHSoLSTi3KLDEBtKeXxyWdFgimK4eM=s83" alt="Pranathi" 
      class="rounded-circle"
      height="50" width="50"
      alt=""
      loading="lazy">
      <div class="container">
        <h2>Thaticherla Pranathi</h2>
        <p class="title">Dao</p>
        <p></p>
        <p>pranathithaticherla1999@gmail.com</p>
        <p><button class="button" routerLink="/contactus"
          routerLinkActive="active">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://mugshot0.assets-yammer.com/mugshot/images/4jvDjRRZRfCXDVksxdwr5qGT5W5ZcNG1_a684497c-b31f-45b9-a2c5-53316558331a?P1=1637207697&P2=104&P3=1&P4=pMLaWtX7ufFOak7hIsFZ9BI9Ina9bz28Y5bYdnx7ZXQvzQJSjOHx__mHB0PkSDFOtgbdBSsppZTJ6og6n2q5SkV96rG76EPU5huM9LepHkthNbJ-28lpPDIPja4Q6_rAsnJDSGt8MQk2VNBmCbGjRfY-lFtrB9Bc9nKB1EQySTBFk5Y_gX-Za4i_LPs_OKS4DOfHfscy5k6r9YJn_qxB-WfIWbw2rbAMUO8hQn4sMzpIGz_cfKjv2K2B56dTZHYCPJMHIE-T1iGPFRZWnb_wfbitUe6U4doJQYS-vhsEVSbzcb-SgNp9VgY_9wN9bIrc63aOnlhbmTfac7gVRftZ1w==&size=90x90" alt="Pranathi" 
      class="rounded-circle"
      height="50" width="50"
      alt=""
      loading="lazy">
      <div class="container">
        <h2>Tejal Pachpande</h2>
        <p class="title">Controller</p>
        <p></p>
        <p>
          tejalpachpande7@gmail.com</p>
        <p><button class="button" routerLink="/contactus"
          routerLinkActive="active">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://lh3.googleusercontent.com/a-/AOh14GjqC6js2OYRf1F_XXwTu4GZu2-oOm6rOlFD2WvOwA=s40-c" alt="" 
      class="rounded-circle"
      height="50" width="50"
      alt=""
      loading="lazy">
      <div class="container">
        <h2>Vinaya Rekha Parimi</h2>
        <p class="title">Database Design</p>
        <p></p>
        <p>rekhachowdary2000@gmail.com
          </p>
        <p><button class="button" routerLink="/contactus"
          routerLinkActive="active">Contact</button></p>
      </div>
    </div>
  </div>
  
  
    <div class="column">
      <div class="card">
        <img src="https://mugshot0.assets-yammer.com/mugshot/images/DZ-KFb2QMMNNk4q37PQVZ9Bt3fCXDpxz_5046ca98-9188-4458-b2ca-123dbeda20d0?P1=1637207629&P2=104&P3=1&P4=g0eBMNlUN6V21phNNE3RvNCIMEUbOXoTNSSNfROI1t4nG4sxAA6RwNvRSbyUEdw88HrY5UgTcKaiRiZ--APB3ncYi_yd0dDfvNd8i2sVDMKgNM2uozEOBr9U4OO82oeEi-MlJ6roeWLkCloULZnwfEdVoDZgrKKK3g9st59_NWEFkBZjfLUWH1pW2-bsEYIIqwk97vqYIR-e0MGfHi0BslRMqV2dSEUyX6FBoXEoczAwV9jpxUXc1iFXzgDNOg58iqnKla1VAzqiXG6XSPm5B3OYHN5nXbu8-fit8CASBV6N0XiV9iXsZF-iEiTv-Uz5HQ-hc1HXOoRySlaINQE8Gg==&size=90x90" alt="Vighnesha" 
        height="50" width="50"
        alt=""
        class="rounded-circle"
        loading="lazy">
        <div class="container">
          <h2>Vighnesha</h2>
          <p class="title">Validations</p>
          <p></p>
          <p>vighnesh.v.nayak19@gmail.com</p>
          <p><button class="button"routerLink="/contactus"
            routerLinkActive="active">Contact</button></p>
        </div>
      </div>
    </div>
  
         



  <div class="column">
    <div class="card">
      <img src="https://lh3.googleusercontent.com/a-/AOh14GhJ5QlhQMiQtqb99b3SoHJfd6Mk0UclQMXD2WROYg=s40-c "        class="rounded-circle"
      height="50" width="50"
      alt="Swetha Narayanakumar"
      loading="lazy">
      
      <div class="container">
        <h2>Swetha Narayanakumar</h2>
        <p class="title">Integration</p>
        
        <p>swetha98narayanakumar@gmail.com</p>
        <p><button class="button" routerLink="/contactus"
          routerLinkActive="active">Contact</button></p>
      </div>
    </div>
  </div>



  <div class="about-section">
      <h1>Vision</h1>
      <p>We always strive to achieve excellency in our final output in order to offer the best value for our esteemed clients.
      <br> We leave no stones unturned when it comes to being competitive and maintaining our footprint in world of technologies.
      <br> We are strongly focused on what we do and believe in continuous upgradations, so that we maintain being versatile provider of a comprehensive suite of web related services.</p>
      
    </div>
    <div class="about-section">
      <h1>Mision</h1>
      <p> We feel privileged to state that we have already become the strength of our esteemed clients’ businesses and we endeavor to continue the same. 
          <br>All we are willing to become is an asset for our clients, 
          partners and stakeholders.<br> Performance driven approach is the key factor for us and we will keep continuing the same to accomplish clients’ satisfaction.</p>

    </div>
    

</div>