<div class="background" style="background: #474e5d"  >
    <br>
<div class="container"  >
    <div class="row">
        <div class="card d-flex justify-content-center mx-auto my-3 p-5" >
            
            <h2 style="color: #474e5d">Contact Us</h2>
            <div class="form-row">
                <div class="form-group col-md-6 first"> <label for="inputFirstName"  style="color:#474e5d"> Name <span>*</span></label> <input type="text" class="form-control" id="inputFirstName" name="name" required>
                    <div id="fname_error" class="val_error"></div>
                </div>
               
            </div>
            <div class="form-row">
                <div class="form-group col-md-6"> <label for="inputEmail"  style="color:#474e5d">Email <span>*</span></label> <input type="email" class="form-control" id="inputEmail"  name="youremail">
                    <div id="email_error" class="val_error"></div>
                </div>
                <div class="form-group col-md-6"> <label for="inputPhone"  style="color:#474e5d">Phone Number <span>*</span></label> <input type="text" class="form-control" id="inputPhone" name="yourphoneno">
                    <div id="phone_error" class="val_error"></div>
                </div>
            </div>
            <div class="form-group mt-0"> <label for="exampleFormControlTextarea1" style="color:#474e5d">Message <span>*</span></label> <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="yourmessage"></textarea>
                <div id="message_error" class="val_error"></div>
        
            <div class="form-button pt-4"> <button type="submit" class="btn btn-secondary btn-block btn-lg" value="Register" name="register"><span>Send Message</span></button> </div>
        </div>
    </div>
</div>
</div>
<br>
<br>

</div>